/* browser-sim.css */
browser-sim {
  border: 1px solid #ddd;
  display: block;
  position: relative;
  font-family: arial, sans-serif;
  &:has(.tab) .header {
    box-sizing: border-box;
    & .tabs {
      padding: 3px 3px 0 3px;
      & .tab {
        padding: 4px 10px;
        background: white;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        position: relative;
        & button {
          background: none;
          border: none;
          padding: 0;
          & + & {
            margin-left: 6px;
            color: gray;
            &:hover {
              color: black;
            }
          }
        }
        &.current {
          background-color: #ddd;
        }
        &:not(.current) {
          & + &::before {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 1.4rem;
            background-color: #ddd;
            left: 0;
            top: 4px;
          }
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
    & .url {
      background-color: white;
      border: 3px solid #ddd;
      margin-bottom: 0;
      padding: 2px 0.5rem;
    }
  }
  &:has(.tab) .pages {
    aspect-ratio: 16 / 9;
  }
  &:not(:has(.tab)) .pages {
    &::before {
      display: block;
      content: "browser";
      color: gray;
      width: fit-content;
      margin: auto;
    }
  }
  & .pages {
    overflow-y: auto;
    & browser-page {
      padding: 10px;
      display: block;
      position: relative;
      box-sizing: border-box;
      &:not(.current) {
        display: none;
      }
    }
  }
}
browser-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
